/* style.css */
body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
  }
  
  #content {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
  }
  
  .accordion {
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    cursor: pointer;
    padding: 10px;
  }
  
  .accordion h2 {
    margin: 0;
  }
  
  .accordion.active {
    background-color: #f1f1f1;
  }
  
  .accordion .question-details {
    display: none;
    margin-top: 10px;
  }
  
  .accordion .question-details a {
    display: block;
    margin-top: 5px;
  }
  
  .question-checkbox {
    margin-right: 5px;
  }
  
  li.completed {
    background-color: #eaffea;
  }

/* Existing CSS styles ... */

#progress-bar-container {
    position: fixed;
    top: 0;
    left: 0;
    height: 10px;
    width: 100%;
    background-color: #f0f0f0;
    z-index: 9999; /* To ensure it is always above other content */
}

#progress-bar {
    height: 100%;
    background-color: #007BFF; /* Blue color for the progress bar */
    width: 0%;
    transition: width 0.3s ease; /* Smooth transition for the width change */
}

